.fa-1 {
    font-size: 1em;
}
.fa-2 {
    font-size: 2em;
}
.fa-3 {
    font-size: 4em;
}
.fa-4 {
    font-size: 7em;
}
.fa-5 {
    font-size: 12em;
}
.fa-6 {
    font-size: 20em;
}
.btn-group.btn-group-justified {
    padding-left: 1em;
    padding-right: 1em;
}

.fa-1,
.fa-2,
.fa-3,
.fa-4,
.fa-5,
.fa-6 {
    margin-right: 0.07142857em;
}